body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fa;
    color: #333;
    
}

.container {
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

h1 {
    margin: 0;
}

h1.display-4 {
    font-size: 2.5rem;
}

.input-group {
    border-radius: 5px;
    overflow: hidden;
    padding-left: 33PX;
}

input[type="text"] {
    border: 2px solid #007bff;
    border-radius: 5px 0 0 5px;
}

input[type="text"]:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    transform: translateY(-2px);
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.modal-content p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #495057;
}

.modal-content button {
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #3B71CA;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.3s;
}

.modal-content button:hover {
    background-color: #0056b3;
}


#todotxt{
    padding: 0;
    font-weight: bold;
    width: 100%;
   border-bottom: 0.3px solid  rgb(37, 37, 202)



   
   
   
}
#ul{
    height: auto;
    width: 62%;
 
    
}

:hover#dateli{
    
    list-style: none; 
    text-align: start; 
    font-weight: bolder; 
    animation: slideIn 2s infinite; 
    position: relative; 
    
}


#dateli {
    height: auto;
    width: 100%;
    list-style: none; 
    text-align: start; 
    font-size: small; 
   
}@keyframes slideIn {
    0% {
        transform: translateX(15%); 
        opacity: 1; 
        color: #e6e6e6;
    }
    100% {
        transform: translateX(0%); 
        opacity: 1; 
    }
}

